<div class="sidebar">
    <div class="logo">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo VerdeQR">
    </div>
    <ul>
        <li><a href="{{ url_for('index') }}">Inicio</a></li>
        <li><a href="{{ url_for('arbol') }}">Registrar Árbol</a></li>
        <li><a href="{{ url_for('centro') }}">Centros</a></li>
        <li><a href="{{ url_for('tipo_arbol') }}">Tipos de Árbol</a></li>
        <li><a href="{{ url_for('uso_arbol') }}">Usos de Árbol</a></li>
    </ul>
</div>